<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="srylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>
</head>

<body style="background-color:powderblue;">


<article>
<a href="/CategoryView/Electronics" id="tehnika"  >
    <img width="200" src="src/View/pildid/tehnika.jpg" alt="tehnika">
</a>
<a href="/CategoryView/Books" id="raamatud"  >
    <img width="200" src="src/View/pildid/books2.jpg" alt="raamatud">
</a>
<a href="/CategoryView/Furniture" id="moobel"  >
    <img width="200" src="src/View/pildid/homedecor2.jpg" alt="moobel">
</a>
<a href="/CategoryView/Clothing" id="riided"  >
    <img width="200" src="src/View/pildid/riided.jpg" alt="riided">
</a>
<a href="/CategoryView/Accessories" id="aksessuuarid"  >
    <img width="200" src="src/View/pildid/aks.jpg" alt="aksessuaarid">
</a>
<a href="/CategoryView/Art" id="kunst"  >
    <img width="200" src="" alt="kunst">
</a>


</article>



</body>

</html>
</template>