<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="srylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>
</head>

<body style="background-color:powderblue;">


<article class="grid-container">
<a href="/CategoryView/Electronics" class="grid-item" id="tehnika"  >
    <img width="200" src="src/View/pildid/elektroonika.png" alt="tehnika">
</a>
<a href="/CategoryView/Books" class="grid-item" id="raamatud"  >
    <img width="200" src="src/View/pildid/raamatud.png" alt="raamatud">
</a>
<a href="/CategoryView/Furniture" class="grid-item" id="moobel"  >
    <img width="200" src="src/View/pildid/moobel.png" alt="moobel">
</a>
<a href="/CategoryView/Clothing" class="grid-item" id="riided"  >
    <img width="200" src="src/View/pildid/riided.png" alt="riided">
</a>
<a href="/CategoryView/Accessories" class="grid-item" id="aksessuuarid"  >
    <img width="200" src="src/View/pildid/aksessuaarid.png" alt="aksessuaarid">
</a>
<a href="/CategoryView/Art" class="grid-item" id="kunst"  >
    <img width="200" src="src/View/pildid/kunst.png" alt="kunst">
</a>


</article>



</body>

</html>
</template>