<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>
<style>
text    {color: black; margin-left: 150px;}
text2   {color: black; margin-left: 210px;}
text3   {color: black; margin-left: 240px;}
text4   {color: black; margin-left: 360px;}
text5   {color: black; margin-left: 350px; font-size: 30px;}
</style>
</head>



<article text-align="center">
<strong><text5>Freebiese meeskond</text5></strong><p>

<br/><p><img class="picture1" src="src/View/pildid/marion.jpg">
<img class="picture2" src="src/View/pildid/diana.jpg">
<img  class="picture3" src="src/View/pildid/mariliis.jpg"></p>
<text>Marion Tamm</text>
<text2>Diana Kasesalu</text2>
<text3>Mari-Liis Marge</text3><p><br/>
<p><text4>Võta meiega ühendust: freebies@care.ee</text4></p>
</article>



</body>

</html>
</template>