<template bindable="product">

  <style>
    .my_product {
      position: relative;
      overflow: hidden;
    }
    .my_product:not(.in_wishlist) .ribbon{
      visibility: hidden;
    }
    .my_product .ribbon{
      font-weight:bold;
      /* https://codepen.io/eode9/pen/twkKm */
      width: 200px;
      background: #e43;
      position: absolute;
      top: 25px;
      right: -50px;
      text-align: center;
      line-height: 50px;
      letter-spacing: 1px;
      color: #f0f0f0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .my_product {
      display: inline-block;
      margin: 1em;
      border: 1px solid gray;
      padding: 0.5em;
    }
    .details {
      display: grid;
      grid-template-areas:
        "title title"
        "cat size"
        "desc desc"
        "loc loc"
    }
    .title {grid-area: title;}
    .cat {grid-area: cat;}
    .size {grid-area: size;}
    .desc {grid-area: desc;}
    .loc {grid-area: loc;}
  </style>

  <div class="my_product ${in_wishlist ? 'in_wishlist' : ''}">
    <div class="ribbon">WISHLIST</div>
    <div float="left">
      <img src=${product.picture}
           width="400" height="200">
    </div>
    <div class="details">
      <h3 class="title">${product.title}</h3>
      <p class="size">${product.size}</p>
      <p class="desc">${product.description}</p>
      <p class="loc">${product.location}</p>
      <p class="cat">(${product.category})</p>
      <p class="mail">${product.email}</p>

      <input click.delegate="change($event.target)"
             type="button"
             class="lisa"
             value.bind="in_wishlist ? 'Broneeritud' : 'Soovin'"
             id="wish"/>
    </div>
  </div>

</template>
