<template>
  <style>
    #container {
      display: flex;
    }
    nav { flex-grow:0; }
    article { flex-grow:1; }
    ul {
      display: inline-block;
    }


  </style>
  <require from="./ProductView"></require>

  <div id="container">
    <nav>
      <ul>
      <button class = "kategooria" click.delegate="productsView('all')">Kõik</button><br>
      <button class = "kategooria" click.delegate="productsView('accessories')">Aksessuaarid</button><br>
      <button class = "kategooria" click.delegate="productsView('electronics')">Elektroonika</button><br>
      <button class = "kategooria" click.delegate="productsView('art')">Kunst</button><br>
      <button class = "kategooria" click.delegate="productsView('furniture')">Mööbel</button><br>
      <button class = "kategooria" click.delegate="productsView('books')">Raamatud</button><br>
      <button class = "kategooria" click.delegate="productsView('clothes')">Riided</button><br>
      </ul>
    </nav>

    <article>
        <product-view repeat.for="p of products" product.bind="p"></product-view>
    </article>
  </div>
</template>
