<template>
  <style>
    #container {
      display: flex;
    }
    #fixed{
    position:fixed;
    }

    ul {
      display: inline-block;
      
    }
    article{margin-left:200px;
    }


  </style>
  <require from="./ProductView"></require>

  <div id="container">
    <nav>
      <ul id="fixed">
      <button class = "kategooria" click.delegate="productsView('Accessories')">Aksessuaarid</button><br>
      <button class = "kategooria" click.delegate="productsView('Electronics')">Elektroonika</button><br>
      <button class = "kategooria" click.delegate="productsView('Art')">Kunst</button><br>
      <button class = "kategooria" click.delegate="productsView('Furniture')">Mööbel</button><br>
      <button class = "kategooria" click.delegate="productsView('Books')">Raamatud</button><br>
      <button class = "kategooria" click.delegate="productsView('Clothing')">Riided</button><br>
      </ul>
    </nav>

    <article>
        <product-view repeat.for="p of products" product.bind="p"></product-view>
    </article>
  </div>
</template>
