<template>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>
</head>

<header>
<h2>Freebies</h2>
<p style="text-align:right;" "margin:0px 150px" >Tere Malle!</p>
<a href="index.html">Lisa uus toode</a>
<a href="index.html">Vaata kõiki tooteid</a>
<a href="index.html">KKK</a>
<a href="index.html">Kes me oleme?</a>
</header>
<body style="background-color:powderblue;">
<article>
<img src="https://cdn.pixabay.com/photo/2012/04/10/23/44/add-27107_960_720.png" height="200" width="200"><p>
Kategooria:<p>
<select name="Kategooria">
  <option value="koik">Kõik</option>
  <option value="aksessuaarid">Aksessuaarid</option>
  <option value="elektroonika">Elektroonika</option>
  <option value="kunst">Kunst</option>
  <option value="moobel">Mööbel</option>
  <option value="raamatud">Raamatud</option>
  <option value="riided">Riided</option>
</select><p>
Pealkiri:<p><input type="text" name="pealkiri"><p>
Suurus:<p> <input type="text" name="suurus"><p>
Kirjeldus: <p><input type="text" name="suurus" style="padding: 122px 20px;"><p><p>
Asukoht: <p><input type="text" name="asukoht"><p>
<button class="lisa">Lisa</button>
</article>
</body>
<footer>Lisainformatsioon</footer>
</html>
</template>