<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="srylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>
</head>

<body style="background-color:powderblue;">

<header>
<h2>Freebies</h2>
<a href="index.html">Lisa uus toode</a>
<a href="index.html">Vaata kõiki tooteid</a>
<a href="index.html">KKK</a>
<a href="index.html">Kes me oleme?</a>
</header>

<article>
<img width="200"; src="src/View/pildid/tehnika.jpg">
<img width="200"; src="src/View/pildid/books2.jpg">
<img width="200"; src="src/View/pildid/homedecor2.jpg">
<img width="200"; src="src/View/pildid/riided.jpg">
<img width="200"; src="src/View/pildid/aks.jpg">
</article>



</body>

<footer>Copyright &copy; Team Freebies</footer>
</html>
</template>