<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="srylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>

</head>

<body>

<nav>
Kategooriad:
<li><a href="#/ProductsView">Kõik</a></li>
<li><a href="#/ProductsView">Elektroonika</a></li>
<li><a href="#/ProductsView">Kunst</a></li>
<li><a href="#/ProductsView">Mööbel</a></li>
<li><a href="#/ProductsView">Raamatud</a></li>
<li><a href="#/ProductView">Riided</a></li>
</nav>

<article>
<b><p><b>
<img width="200"; src="src/View/pildid/toode1.jpg">
<img width="200"; src="src/View/pildid/toode2.jpg">
<img width="200"; src="src/View/pildid/toode3.jpg">
<img width="200"; src="src/View/pildid/toode4.jpg">
<img width="200"; src="src/View/pildid/toode5.jpg">
</article>
</body>
</html>
</template>