<template>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="srylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap..min.css">
<require from="Kujundus/kujundus.css"> </require>
<title>Freebies</title>

</head>

<body>

<header>
<h2>Freebies</h2>
<a href="index.html">Lisa uus toode</a>
<a href="index.html">Vaata kõiki tooteid</a>
<a href="index.html">KKK</a>
<a href="index.html">Kes me oleme?</a>
</header>

<nav>
Kategooriad:
<li><a href="minust.html">Kõik</a></li>
<li><a href="hobbies.html">Elektroonika</a></li>
<li><a href="drawings.html">Kunst</a></li>
<li><a href="drawings.html">Mööbel</a></li>
<li><a href="drawings.html">Raamatud</a></li>
<li><a href="drawings.html">Riided</a></li>
</nav>

<article>
<b><p><b>
<img width="200"; src="src/View/pildid/toode1.jpg">
<img width="200"; src="src/View/pildid/toode2.jpg">
<img width="200"; src="src/View/pildid/toode3.jpg">
<img width="200"; src="src/View/pildid/toode4.jpg">
<img width="200"; src="src/View/pildid/toode5.jpg">
</article>

<footer>Copyright &copy; Team Freebies</footer>

</body>
</html>
</template>