

header, footer {
    padding: 1em;
    color: black;
    background-color: #FFE4E1;
    clear: left;
    text-align: center;
}
nav { flex-grow:0; }

article {
    margin-left: 10px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.lisa{
 font-size: 16px;
 margin: 10px 5px;
 padding: 15px 32px;
}
.kategooria{
 font-size: 16px;
 margin: 10px 5px;
 padding: 7px 16px;
 background-color:#fdd7dd;
 border-radius: 10px;
}
a+a {
margin-left:15px;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.column.right{
	width: 25%;