header {
	 height: 156px;
}
header, footer {
    padding: 1em;
    color: black;
    background-color: #D8BFD8;
    clear: left;
    text-align: center;
}

article {
    margin-left: 10px;
    
    padding: 1em;
    overflow: hidden;
}
.lisa{
 font-size: 16px;
 margin: 10px 5px;
 padding: 15px 32px;
}
.kategooria:hover {
    background-color: #ffeef1;
    color: black;
}
.kategooria{
 font-size: 16px;
 margin: 10px 5px;
 padding: 10px 50px;
 width:200px;
 background-color:#D8BFD8;
 border-radius: 10px;
}
.picture1{
	width:200px;
	height:200px;
	margin-left:180px;
	display: inline-block;
	 border-radius: 100px;
}
.picture2{
	width:200px;
	height:200px;
	margin-left:150px;
	display: inline-block;
	 border-radius: 100px;
}
.picture3{
	width:200px;
	height:200px;
	margin-left:170px;
	display: inline-block;
	 border-radius: 100px;
}

a+a {
margin-left:15px;
}
.team{
	text-align:center;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.column.right{
	width: 15%;

