a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

header, footer {
    padding: 1em;
    color: black;
    background-color: pink;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.lisa{
 font-size: 16px;
 margin: 10px 5px;
 padding: 15px 32px;
}
.kategooria:hover {
    background-color: #ffeef1;
    color: black;
}
.kategooria{
 font-size: 16px;
 margin: 10px 5px;
 padding: 10px 50px;
 width:200px;
 background-color:#fdd7dd;
 border-radius: 10px;
}
.picture1{
	width:200px;
	height:200px;
	margin-left:100px;
	 border-radius: 100px;
}
.picture2{
	width:200px;
	height:200px;
	margin-left:100px;
	 border-radius: 100px;
}
.picture3{
	width:200px;
	height:200px;
	margin-left:100px;
	 border-radius: 100px;
}
a+a {
margin-left:20px;
}
.team{
	text-align:center;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.column.right{
	width: 15%;